<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CBT Dashboard</title>
</head>
<body>
<h1> CBT Dashboard</h1>
<form action="dashboard" method="post"></form>
<table>
    <tr><td><b>First Name:</b><span th:text="${userdetail.fname}"></span>
        <input type="text" id="fname" name="fname"></td>
    </tr>
    <tr><td><b>Last Name:</b><span th:text="${userdetail.lname}"></span>
        <input type="text" id="lname" name="lname"></td></tr>
    <tr><td><b>Email:</b><span th:text="${userdetail.email}"></span>
        <input type="text" id="email" name="email"></td></tr>
    <tr><td><b>Phone:</b><span th:text="${userdetail.phone}"></span>
        <input type="text" id="phone" name="phone"></td></tr>
    <tr><td><b><input type="submit" value="LOGIN"></td></tr>
</table>
</form>
</body>
</html>