<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <div>
        <form action="landingpage.html" method="post">
            <h5> SIGNUP</h5>
            <label for="usernameSignup"> Username</label>
            <input type="text" id="usernameSignup" name="username"><br>

            <label for="passwordSignup"> Password</label>
            <input type="password" id="passwordSignup" name="password"><br><br>

            <input type="submit" value="SIGNUP">
        </form>


    </div>
</head>
<body>

</body>
</html>